body{
    margin: 0;
    font-family: 'Flamenco', 'Asap', Arial;
    /* background: url("../img/bg-banner.png") no-repeat center;
    background-size: cover; 
    min-height: 70%;
    max-height: 50%; */
}

header a{
    background-color: yellow;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: rgb(179, 108, 2);
    padding: 10px 20px;
}

@media (max-width: 768px){

}

header a:hover{
    background-color: black;
    color: white;
}

li.botao{
    border: solid;
    border-radius: 10px;
    color: goldenrod;
}

a.botao{
    color: goldenrod;
}

nav ul li{
    display: inline;
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: white;
}

nav{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1{
    font-size: 30px;
    font-family: 'flamenco', Arial, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: 0;
    padding: 50px 0;
}

h2{
    text-align: center;
}

.topo{
    background: url("../img/bg-banner.png");
    background-size: cover; 
    min-height: 85%;
    min-width: 200%;
}

nav img{
    height: 60px;
}

header{
    text-align: center;
    margin: 0 auto;
    width: 800px;
    color: white;
    font-size: 25px;
}

/* section SOBRE */

.sobre {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.oquee {
    display: flex;
}

.oquee img{
    height: 150px; 
    padding: 30px 30px;
}

.oquee p{
    font-size: 20px;
    text-align: justify;
}

.oquee-texto{
    display: block;
    text-align: left;
    margin: 30px 30px;
}

.funciona{
    display: flex;
    justify-content: space-between;
}

/* SERVIÇOS */

.servicos{
    background: url("../img/bg-servicos.png");
}

.servicos h2{
    padding: 30px;
    text-align: center;
    font-size: 30px;
}

.consultoria, .roteiro{
    text-align: center;
    margin: 20px 60px;
    width: 380px;
    height: 500px;
    background-color: #2EC2D2;
    box-shadow: 2px 2px 10px #888888;
    display: inline-block;
    border-radius: 10px;
}


.consultoria p, .roteiro p{
    margin: 35px auto;
    text-align: center;
    color: white;
    width: 250px;
    font-size: 20px;
}



.consultoria a, .roteiro a{
    background-color: yellow;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: rgb(179, 108, 2);
    padding: 10px 20px;
}

.consultoria img, .roteiro img{
    width: 150px;
}

.consultoria h3, .roteiro h3{
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: 'Asap', 'Flamenco', Arial;
}

.cards{
    display: flex;
    justify-content: center;
}

/* Você sabia */

.curiosidades{
    background: url("../img/bg-numeros.png") no-repeat center center;
    height: 260px;
}

.curiosidades h3{
    text-align: center;
    font-size: 25px;
    color: white;
    font-weight: lighter;
    padding: 20px 0 0 0;
    margin: 0;
}

.curiosidades h4{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: rgb(243, 217, 104);
}

.curiosidades p{
    color: white;
    font-size: 20px;
}

.um, .dois, .tres{
    width: 200px;
    height: 300px;
    text-align: center;
    
}
.c3{
    display: flex;
    justify-content: space-around;
}

/* Formulario */


.contato{
    display: flex;
    flex-direction: column;
    background: #F4F3F2;
}

.formulario{
    display: flex;
    justify-content: center;
}

form input, label{
    display: flex;
    border-color: transparent;
}

form input{
    border: 1px solid rgba(250, 198, 9, 0.582);
    padding: 5px 20px;
}

.nome-email{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.nome, .mail{
    width: 48%;
}


.contato input{
    background-color: #FFEBA9;
}

.contato .enviar{
    background-color: #05918D;
    font-family: 'lato', 'flamenco', Arial;
    color: white;
    text-transform: uppercase;
    align-items: 

}

.nome-email input, label{
    display: flex;
    width: 100%;
}
.restante{
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
}

.mensagem{
    margin: 10px 0;
}
.restante label, input{
    display: flex;
    width: 100%;
}



/* NOVIDADES */

.novidades{
    background-color: rgb(255, 208, 0);
    height: 200px;
    align-items: center;
}
.novidades h3{
    margin: 0;
    padding: 40px;
    border: 0;
    text-align: center;
    font-size: 40px;
}

.newsletter{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

/* RODAPE */
footer{
    background-color: rgb(40, 40, 43);
    color: grey;
}

.lista-footer, .logo-meio, .redessociais{
    display: inline-block;
    width: 30%;
}

.logo-meio{
    width: 200px;
    margin: 0;
}

footer ul{
    list-style: none;
    width: 200px;
    display: inline-block;
    padding: 20px;
    font-size: 15px;
    margin: 0;
}
    
.rodape{
    display: flex;
    justify-content: space-between;
}

