body{
    margin: 0;
    font-family: 'Flamenco', 'Asap', Arial;
    /* background: url("../img/bg-banner.png") no-repeat center;
    background-size: cover; 
    min-height: 70%;
    max-height: 50%; */
}

header a{
    background-color: yellow;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: rgb(179, 108, 2);
    padding: 10px 20px;
}

header a:hover{
    background-color: black;
    color: white;
}

li.botao{
    border: solid;
    border-radius: 10px;
    color: goldenrod;
}

a.botao{
    color: goldenrod;
}

nav ul li{
    display: inline;
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: white;
}

nav{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1{
    font-size: 30px;
    font-family: 'flamenco', Arial, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: 0;
    padding: 50px 0;
}

h2{
    text-align: center;
}

.topo{
    background: url("../img/bg-banner.png");
    background-size: cover; 
    min-height: 85%;
}

nav img{
    height: 60px;
}

header{
    text-align: center;
    margin: 0 auto;
    width: 800px;
    color: white;
    font-size: 25px;
}

/* section SOBRE */

.sobre {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.oquee {
    display: flex;
}

.oquee img{
    height: 150px; 
    padding: 30px 30px;
}

.oquee p{
    font-size: 20px;
    text-align: justify;
}

.oquee-texto{
    display: block;
    text-align: left;
    margin: 30px 30px;
}

.funciona{
    display: flex;
    justify-content: space-between;
}

.servicos{
    background: url("../img/bg-servicos.png");
}

.servicos h2{
    padding: 30px;
    text-align: center;
}

.consultoria, .roteiro{
    text-align: center;
    margin: 20px 20px;
    width: 300px;
    height: 400px;
    background-color: rgb(104, 206, 253);
    display: inline-block;
}


.consultoria p, .roteiro p{
    margin: 20px;
    text-align: justify;
}

.consultoria a, .roteiro a{
    background-color: yellow;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: rgb(179, 108, 2);
    padding: 10px 20px;
}

.cards{
    display: flex;
    justify-content: center;
}

/* Você sabia */

.curiosidades{
    background: url("../img/bg-numeros.png") no-repeat center center;
    height: 260px;
}

.curiosidades h3{
    text-align: center;
    font-size: 25px;
    color: white;
    font-weight: lighter;
    padding: 20px 0 0 0;
}

.curiosidades h4{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: rgb(243, 217, 104);
}

.curiosidades p{
    color: white;
    font-size: 20px;
}

.um, .dois, .tres{
    width: 200px;
    height: 300px;
    text-align: center;
    
}
.c3{
    display: flex;
    justify-content: space-around;
}

/* Formulario */

input, label{
    display: block;
}

.nome-email{
    display: flex;
    justify-content: space-around;
    margin: 20px 400px;
}

.restante{
    margin: 0 auto;
    width: 200px;
}

/* NOVIDADES */

.novidades{
    background-color: rgb(255, 208, 0);
    height: 200px;
    align-items: center;
}
.novidades h3{
    margin: 0;
    padding: 40px;
    border: 0;
    text-align: center;
    font-size: 40px;
}

.newsletter{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

/* RODAPE */
footer{
    background-color: rgb(40, 40, 43);
    color: grey;
}

.lista-footer, .logo-meio, .redessociais{
    display: inline-block;
    width: 30%;
}

.logo-meio{
    width: 200px;
    margin: 0;
}

footer ul{
    list-style: none;
    width: 200px;
    display: inline-block;
    padding: 20px;
    font-size: 15px;
    margin: 0;
}
    
.rodape{
    display: flex;
    justify-content: space-between;
}

