@media (max-width: 768px) and (min-width: 300px){
   
    nav{
        padding: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    nav img{
        height: 40px;
    }
    
    nav ul{
        display: flex;
        flex-direction: column;
        font-size: 12px;
        width: 120px;
        padding: 0;
    }

    header{
        width:100%;
    }

    h1, p{
        font-size: 15px;
        width: 150px;
        text-align: center;
    }

    main{
        width: 100px;
    }
}
