/* DESKTOP */

@media (min-width: 768px) {

    nav {
        min-height: 12vh;
    }

    .navegacao {
        width: 65%;
    }

    .nav-lista {
        min-width: 50%;
        display: flex;
        justify-content: flex-end;
    }
    
    nav ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    
    nav li {
        font-size: 84%;
    }
    
    .nav-sanduba {
        display: none;
    }

    /* ---------- HEADER ---------- */
    header {
        height: 56vh;
        position: relative;
        align-items: left;
        text-align: left;
        padding: 5% 10%;
    }

    header div {
        position: absolute;
        bottom: 10%;
    }

    h1 {
        font-size: 200%;
    }

    h2 {
        font-size: 110%;
        margin: 2% 0;
    }

    .buttona {
        padding: 1% 4%;
        font-size: 115%;
    }

    h3 {
        font-size: 200%;
    }

    /* ---------- SECTION WE-CAN-DO-IT ---------- */
    div.mais-tres {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
    }

    .we-can-do-it {
         min-height: 50vh;
         padding: 3% 0;
    }

    .we-can-do-it div {
        width: 68%;
        min-height: 80%;
    }

    .we-can-do-it img {
        width: 22%;
        object-fit: contain;
    }

    .we-can-do-it p {
        font-size: 140%;
        margin: 1% 0;
    }

/* ---------- SECTION VC-CONHECE ---------- */
    .vc-conhece > div {
        width: 50%;
    }

    .vc-conhece .mulher {
        width: 20%;
    }

/* ---------- SECTION CRIADORAS ---------- */
    .alunas {
        width: 65%;
    }

    .aluninha {
        width: 13%;
    }

/* ---------- FOOTER ---------- */
    footer > div {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    footer > div > div {
        width: 30%;
    }

    footer li {
        margin: 2% 0;
    }

    img.footer-imagem {
        width: 65%;
    }

    .mensagemfinal {
        font-size: 110%;
    }

    img.fb {
        width: 7%;
    }



    /* ---------- NOME-SOBRENOME ---------- */
    /* ---------- OUTRA HEADER ---------- */
    .outra-header, .why-header {
        padding: 0 20%;
        display: flex;
    }

    .why-header {
        min-height: 73vh;
        align-items: center;
    }

    .outra-header h1, .why-header h1 {
        font-size: 430%;
    }

    /* ---------- PSERSONALIDADE ---------- */

    .personalidade {
        min-height: 100vh;
        padding: 0;
    }

    .personalidade > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 60%;
    }

    .personalidade > div > div {
        width: 70%;
    }

    .personalidade .diva {
        width: 25%;
    }

    .personalidade p, .historia p {
        font-size: 130%;
    }

    .personalidade .frase {
        width: 60%;
        font-size: 150%;
        margin: 0;
    }

    /* ---------- HISTORIA ---------- */
    .historia {
        padding: 0;
        min-height: 100vh;
    }

    .historia h3 {
        width: 60%;
        margin-bottom: 0;
    }

    .historia > div {
        width: 60%;
        padding: 1% 0;
        font-size: 110%;
    }

    .historia .fotona {
        height: 42vh;
        margin: 0;
        width: 60%;
    }

    /* ---------- AUTORA ---------- */
    .autora {
        min-height: 40vh;
    }
    .autora > div {
        width: 60%;
        justify-content: center;
    }

    .autora .foto-autora {
        width: 15%; 
    }

    .autora .dados-autora {
        font-size: 120%;
        font-weight: bold;
        margin: 0 5%;
    }

    .autora p {
        padding: 1% 0;
    }
    
    /* ---------- PERFIS RECOMENDADOS ---------- */
    .perfis-recomendados > div {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .perfis-recomendados > div > div {
        display: flex;
        align-items: center;
        font-size: 120%;
    }

    /* ---------- SOBRE ---------- */
    /* ---------- ONDE SURGIU | PROJETO RELEVANTE ---------- */
    .onde-surgiu, .projeto-relevancia {
        padding: 1% 0 0 0;
    }

    .fotona-sobre {
        width: 64%;
        height: 24vh;
    }

    .onde-surgiu p, section.projeto-relevancia p {
        font-size: 130%;
        margin: 0.5% 0;
        width: 63%;
    }

    /* ---------- PROJETO RELEVANCIA ---------- */
    .porcento {
        width: 60%;
    }

    .porcento > div {
        flex-direction: row;
        width: 70%;
    }

    .porcento > div > p {
        width: unset;
        text-align: left;
    }

    .porcento .estatistica {
        font-size: 450%;
        font-weight: 700;
        margin: 0 5%;
    }

    /* ---------- CRIADORAS ---------- */
    .nome-aluna p {
        font-size: 70%;
    }

    /* ---------- PERFIS ---------- */
    /* ---------- VC-CONHECE ---------- */

    .vc-conhece, .veja-todas {
        padding: 1% 0;
    }

    .vc-conhece > div, .veja-todas > div {
        width: 70%;
    }

    .veja-todas .mulher {
        width: 50%;
        margin: 3% 0;
    }
    .veja-todas .trinta .mulher a {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .veja-todas .mulher img {
        width: 30%;
    }

    .veja-todas .mulher > div {
        min-width: 40%;
    }

    .veja-todas .mulher p {
        font-size: 100%;
        margin-left: 5%;
        width: 100%;
    }

}